* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.h-100vh {
  min-height: 100vh;
}

.bg-back {
  background: linear-gradient(90deg,
      rgba(237, 221, 34, 0.6223739495798319) 0%,
      rgba(255, 0, 0, 0.085) 52%,
      rgba(255, 216, 216, 0.166) 100%);
}

.bg-white {
  background: white;
}

.gp-5 {
  padding: 3rem;
}

.modalIcon {
  font-size: 4em;
}
.spinner-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
  .gp-5 {
    padding: 2rem;
  }
}