* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h-100vh {
  min-height: 100vh;
}

.bg-back {
  background: linear-gradient(90deg,
      rgba(237, 221, 34, 0.6223739495798319) 0%,
      rgba(255, 0, 0, 0.085) 52%,
      rgba(255, 216, 216, 0.166) 100%);
}

.bg-white {
  background: white;
}

.gp-5 {
  padding: 3rem;
}

.modalIcon {
  font-size: 4em;
}

@media (max-width: 576px) {
  .gp-5 {
    padding: 2rem;
  }
}